# Database
DATABASE_URL="postgresql://user:password@localhost:5432/booking_db?schema=public"

# Server
PORT=3001
NODE_ENV=development

# Telegram
TELEGRAM_BOT_TOKEN=8663293479:AAHKXYpT-mL1k7PUTO5v8LxKFrKmFD3yryU
TELEGRAM_WEBAPP_URL=http://localhost:3000

# Business
BUSINESS_ID=your_business_id
ADMIN_TELEGRAM_ID=your_telegram_id

# Security
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d

# Slot Engine
SLOT_CACHE_DAYS=14
SLOT_CACHE_TTL_HOURS=24
